<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoApp</title>
        <style>
        .hidden {
            display: none;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li{
            font-size: 20px;
            color: darkolivegreen;
        }
        li button{
            -webkit-appearance: none;
            border: none;
            outline: none;
            color: orangered;
            float: right;
            cursor: pointer;
            font-size: 20px;
            width: 30px;
        }
        .delete-button{
            margin: 0.1px;
        }
        .lists-wrapper, .todos-wrapper {
        padding: 10px;
        margin: 10px;
        display: inline-block;
        vertical-align: top;
      }
    </style>
</head>
<body>
<div class="lists-wrapper">
    <h2>{{ active_list.name }}</h2>
    <ul id="lists">
        {% for list in lists %}
            <li>
                <a href="/lists/{{ list.id }}">
                    {{ list.id  }}  {{ list.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="todos-wrapper">
    <form id="todo-form">
        <input id="category" type="text" name="category" value="Category">
        <input id="description" type="text" name="description" value="Description">
        <input id="list_id" type="text" name="list_id" value="Category ID">
        <input type="submit" value="Create">
    </form>

    <div id="error" class="hidden"> Something went wrong</div>
    <ul id="todo">{% for todo in todos %}
    <pre><li><input data-id="{{ todo.id}}" class="check-completed" type="checkbox" {% if todo.completed %} checked {% endif %}/>ID {{ todo.id }}  ==> {{ todo.name }} is mapped to {{ todo.description }}
        <button class="delete-button" data-id="{{ todo.id }}">&cross;</button></li></pre>
    {% endfor %}
    </ul>
</div>

<script>



    const deleteButton = document.querySelectorAll('.delete-button');
    for(let i = 0; i<deleteButton.length; i++){
        const  button = deleteButton[i]
        button.onclick = function (e){
        console.log('event', e);
        const personId = e.target.dataset['id'];
        fetch('/todos/'+ personId + '/delete-item',{
            method: 'DELETE'
        }).then(function(){
            console.log('Parent?', e.target);
            const item = e.target.parentElement;
            item.remove();
            document.getElementById('error').className = "hidden"
        })
    }
    }

    deleteListButton =  document.querySelectorAll(".delete-list");
    for (let i=0; i<deleteListButton.length; i++){
        const deleteButton = deleteListButton[i];
        deleteButton.onclick = function(e){
            console.log("Delete event: ", e);
            const listId = e.target.dataset['id']
        }
    }

    const checkboxes = document.querySelectorAll('.check-completed');
    for(let i = 0; i < checkboxes.length; i++){
        const checkbox = checkboxes[i];
        checkbox.onchange = function (e){
            console.log(`event`, e);
            const newCompleted = e.target.checked;
            const todoId = e.target.dataset['id'];
            console.log(todoId);
            fetch('/todos/'+ todoId+ '/set-completed', {
                method: 'POST',
                body: JSON.stringify({
                    'completed': newCompleted
                }),
                headers:{
                    'Content-Type': 'application/json'
                }
            }).then(function (){
                document.getElementById("error").className = "hidden";
            }).catch(function (){
            document.getElementById('error').className = "";
        })

        }
    }
    document.getElementById("todo-form").onsubmit =  function (e){
        e.preventDefault()

        fetch('/todos/create',{
            method:'POST',
            body: JSON.stringify({
                'description': document.getElementById("description").value,
                'list_id': document.getElementById("list_id").value,
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json()
        ).then(function (jsonResponse){
            console.log(jsonResponse);
            const place_holder =  document.createElement("li")
            const id_ = document.createElement("li");
            {#const name_ = document.createElement("li");#}
            const description_ = document.createElement("li");
            id_.innerHTML = jsonResponse['id'];
            description_.innerHTML = jsonResponse['description'];
            place_holder.innerHTML = id_.innerHTML + "  ==> " + description_.innerHTML
            document.getElementById("todo").appendChild(place_holder)
            document.getElementById("error").className = "hidden";
            window.location.reload(true);
        }).catch(function (){
            document.getElementById('error').className = "";
        })
    }


    document.getElementById('list-form').onsubmit = function(e) {
        e.preventDefault();

        fetch('/lists/create', {
            method: 'POST',
            body: JSON.stringify({
                'name': document.getElementById('todolist-input').value
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(function (response){
                return response.json();
            })
            .then(function(jsonResponse){
                const liItem = document.createElement('li')
                liItem.innerHTML = jsonResponse['namer'];
                document.getElementById('lists').appendChild(liTtem);
                document.getElementById('error').className = 'hidden';
                window.location.reload(true);
            }
    }
</script>
</body>
</html>
